*{
    color: black;
}
.card-container{
 display: flex;
 gap: 20px;
}
.card{
    background-color: rgb(211, 189, 189);
    border-radius: 16px;
    height: 500;
    width: 400;
    text-align: center;
}

.body{ margin: 0;
font-family: Arial, sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    padding: 15px 40px;
}
.logo{
    color:aliceblue;
    font-size: 22px;
    font-weight: bold;
}
.nav-links{
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 25px;

}
.nav-links li a {
    text-decoration:none;
    list-style: none;
    display: flex;
    color: bisque;
    font-size: 25px;
}
.nav-links li a:hover{

    color: #ff9800;

}
