*{
    color:black;
}

.card-container{
    display:flex;
    gap:20px;
}
.hero-image{
    border-radius:20px;
}
.card{
    background-color: rgb(233, 218, 218);
    border-radius: 16px;
    height: 500;
    width: 400;
    text-align: center;
}
body{
    margin:0;
    font-family:arial, sans-serif;  
}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color:rgb(67, 67, 168);
    padding:15px 40px;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
z-index:999;
overflow:visible;
}
.logo{
    color:white; 
    font-size:22px;
    font-weight: bold; 
}
.nav-links {
    list-style :none;
    display: flex;
    gap:25px;
    margin: 46px;
}
.nav-links li a{
    color:white;
    text-decoration: none;
    font-size: 16px;
}
.nav-links li a:hover{
    color:#ff9800;
}



